/*Модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $cubic-bezier, visibility 250ms $cubic-bezier;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  height: 581px;
  width: 528px;
  background-color: $main-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $cubic-bezier;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.1);
  }
}
.modal__strong {
  @include font(700, 20px, 1.15, 0.03em);
  color: $title-text-color;

  display: block;
  text-align: center;
  margin-bottom: 12px;
}
.user-id:not(.user-id--feedback) {
  margin-bottom: 10px;
}
.user-id--feedback {
  margin-bottom: 20px;
}

.modal-form__label {
  @include font(400, 12px, 1.17, 0.01em);
  color: $primary-text-color;
  margin-bottom: 4px;
  display: block;
}
.modal-form__input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 11px 30px;
  transition: border-color 250ms $cubic-bezier;

  &:focus {
    border-color: $accent-text-color;
  }
}

.user-wrap {
  position: relative;
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: calc((12 * 100%) / 440);
  transform: translateY(-50%);
  display: inline-block;
  fill: $title-text-color;

  transition: fill 250ms $cubic-bezier;

  .modal-form__input:focus + & {
    fill: $accent-text-color;
  }
}
.modal-form__user-feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: block;
  resize: none;
  transition: border-color 250ms $cubic-bezier;

  &:focus {
    border-color: $accent-text-color;
  }
}

.user-id--feedback textarea::placeholder {
  font-family: $font-family;
  @include font(400, 12px, 1.17, 0.01em);
  color: rgba(117, 117, 117, 0.5);
}
.user-policy {
  text-align: center;
  position: relative;

  margin-bottom: 30px;
}
.user-policy__label {
  @include font(400, 14px, 1.71, 0.03em);
  color: $primary-text-color;
  display: block;
  cursor: pointer;
}
.user-policy__link {
  /*line-height: 1.71;*/
  @include font(400, 14px, 0.85, 0.03em);
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid $accent-text-color;
  color: $accent-text-color;
}

.modal-form__button {
  @include centered-margin;
  display: flex;
}
.user-policy__icon-no-checked {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: none;
  transition: fill 250ms $cubic-bezier;

  .user-policy__checkbox:focus ~ &,
  .user-policy__checkbox:hover ~ & {
    fill: $accent-text-color;
  }
}

.user-policy__icon-checked {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: $accent-text-color;
  border-color: $accent-text-color;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms $cubic-bezier;

  .user-policy__checkbox:checked ~ & {
    opacity: 1;
  }
}
