.signup-form {
  @include tablet {
    display: block;
  }
  @include desktop {
    display: flex;
    justify-content: baseline;
  }
}
.signup-form__input {
  width: 100%;
  height: auto;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  @include mobile {
    width: 450px;
  }
  @include desktop {
    width: 358px;
    margin-right: 12px;
  }
}
.signup-form__button {
  margin-top: 20px;
  @include font(700, 16px, 1.88, 0.06em);
  box-sizing: border-box;
  .signup-form:hover &,
  .signup-form__input:focus + & {
    background-color: $color-change-button;
  }
  @include tablet {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  @include desktop {
    margin-top: 0;
  }
}
.signup-form__icon-send {
  margin-left: 10px;
}
