$primary-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;
$main-background-color: #ffffff;
$secondary-background-color: #2f303a;
$third-background-color: #f5f4fa;
$logo-color: #000000;
$color-text-white: #ffffff;
$color-change-button: #188ce8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$font-family: "Roboto", sans-serif;
