/*Footer*/
.footer {
  background-color: $secondary-background-color;
  padding: 60px 0;
  display: flex;
}

.section-footer {
  width: 1200px;
  padding: 0 15px;
  @include centered-flex;
  align-items: baseline;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__logo--color {
  color: $color-text-white;
  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}
.footer__logo--second-word-color {
  color: $accent-text-color;
  transition: color 250ms $cubic-bezier;
}

.address-block__address-info {
  color: $color-text-white;
  @include font(400, 14px, 1.71, 0.03em);
  font-style: normal;
  margin-bottom: 9px;
}
.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__address-link {
  @include font(400, 14px, 1.71, 0.03em);
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.address-block {
  margin-right: 70px;
}

.strong-word {
  display: block;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: $color-text-white;
  margin-bottom: 20px;
}
.footer-social__list {
  display: flex;
}
.footer-social__box {
  @include centered-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $color-text-white;
  background-color: rgba(255, 255, 255, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $accent-text-color;
    fill: $color-text-white;
  }
}
.footer-social__link:not(:last-child) {
  margin-right: 10px;
}
.footer-social__logo {
  justify-content: center;
  text-align: center;
}

.footer-social {
  margin-right: auto;
}
