/*Main-auth-nav*/
.main-auth-nav {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @include tablet {
    margin-left: auto;
  }
  @include desktop {
    margin-left: auto;
  }
}

.auth-nav {
  @include tablet {
    display: flex;
    flex-direction: column;
    color: $primary-text-color;
    @include font(500, 12px, 1.14, 0.02em);
    text-decoration: none;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include font(500, 14px, 1.14, 0.02em);
  }
}

.auth-nav__link {
  @include tablet {
    color: $primary-text-color;
    transition: color 250ms $cubic-bezier, stroke 250ms $cubic-bezier;

    &:hover,
    &:focus {
      stroke: $accent-text-color;
    }
  }
  @include desktop {
    padding: 32px 0;
  }
}

.auth-nav__nav-item {
  @include tablet {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include desktop {
    justify-content: center;
    align-self: baseline;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
.auth-nav__link--top {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 20px;
  }
}
.auth-nav__link--bottom {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 20px;
  }
}
.auth-nav__button-icon {
  @include tablet {
    margin-right: 10px;
    color: currentColor;
  }
}
