/*Page-Header*/
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  @include centered-flex;
  justify-content: space-between;
}
.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.page-header__logo--color {
  color: $logo-color;
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}
.page-header__logo--second-word-color {
  color: $accent-text-color;
}
