/*Наши работы*/
.container-works {
  @include centered-flex;
  flex-wrap: wrap;
  gap: 30px;
}
.container-works__item {
  flex-basis: calc((100% / 3) - 2 * 30px);
  box-sizing: border-box;
  transition: box-shadow 250ms $cubic-bezier;
}

.card-item {
  padding: 20px 24px;
  @include card-boders;
}

.card-item__name {
  @include font(700, 18px, 2, 0.06em);
  color: $title-text-color;
  margin-bottom: 4px;
}
.card-item__description {
  @include font(400, 16px, 1.88, 0.03em);
  color: $primary-text-color;
}
.work-thumb {
  position: relative;
  overflow: hidden;

  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms $cubic-bezier, opacity 250ms $cubic-bezier;
  }
  .container-works__link:hover &::before,
  .container-works__link:focus &::before {
    opacity: 1;
    transform: translateY(0);
  }
}
.work-thumb__text {
  @include font(400, 18px, 1.56, 0.03em);
  color: $color-text-white;
  padding: 0 24px;

  position: absolute;
  @include centered-flex;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity 250ms $cubic-bezier;

  .container-works__link:hover &,
  .container-works__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-works__link {
  display: block;
  transition: box-shadow 250ms $cubic-bezier;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
