/*Наша команда*/

.section-crew {
  background-color: $third-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.section-crew__title {
  text-align: center;
  color: $title-text-color;
  @include font(700, 28px, 1.18, 0.03em);
  margin-bottom: 30px;

  @include desktop {
    @include font(700, 36px, 1.18, 0.03em);
    margin-bottom: 50px;
  }
}
.section-crew__list {
  display: block;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  @include desktop {
    @include centered-flex;
    flex-wrap: nowrap;
  }
}

.work-card-box {
  padding: 30px 24px;
  @include desktop {
    padding: 30px 30px;
  }
}

.work-card {
  background-color: $main-background-color;
  list-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;

  @include tablet {
    width: calc((100% / 2) - 30px);
    margin-bottom: 0;
  }
}
.work-card__image {
  margin: 0 auto;
  width: 100%;
}

.work-card-box__name {
  color: $title-text-color;
  @include font(500, 16px, 1.19, 0.03em);
  text-align: center;
  margin-bottom: 10px;
}
.work-card-box__position {
  @include font(400, 16px, 1.19, 0.03em);
  text-align: center;
  margin-bottom: 16px;
}
.social-block {
  @include centered-flex;
}

.social-block__list {
  display: block;
}
.social-block__link {
  @include centered-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: #afb1b8;
  transition: background-color 250ms $cubic-bezier, color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $accent-text-color;
    color: $color-text-white;
  }
}
.social-block__icon {
  fill: currentColor;
}
