/*Наши особенности*/
.section-features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.our-features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.our-features__list {
  @media screen and (min-width: 768px) {
    width: calc((100% / 2) - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.our-features__subtitle {
  margin-bottom: 10px;
  color: $title-text-color;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.our-features__text {
  @include font(400, 14px, 1.71, 0.03em);
}
.thumb {
  @include centered-flex;
  background-color: $third-background-color;
  width: 100%;
  // width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}
